body 
{
    min-height: 100%;
}

/*Left Layout*/
.left-layout {
    float: left;
    background-color: white;
    width: 50%;
    height: 45.1rem;
    background-image: url('../Images/dish4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.left-layout .menu-layout
{
    float: left;
    background-color: black;
    width: 35%;
    height: 29.8rem;
    margin-left: 32%;
    margin-top: 15%;
}

/*Title Background*/
.left-layout .menu-layout .title-layout
{
    //background-color: red;
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
/*End of Title Background*/

/*Title*/
.left-layout .menu-layout .title-layout h6
{
    text-align: center;
    font-family: 'Across the Road';
    color: white;
    font-size: 40px;
}
/*End of Title*/

/*Menu Topics*/
.left-layout .menu-layout .topics-layout ul
{
    list-style-type: none;
    width: 100%;
    border-top: 1px solid lightgrey;
    margin: 0;
    padding: 0;
}

.left-layout .menu-layout .topics-layout li a
{
    display: block;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.left-layout .menu-layout .topics-layout li
{
    text-align:center;
    border-bottom: 1px solid lightgrey;
    font-family: Calibri;
}
/*End of Menu Topics*/
/*End of Left Layout*/

/*Right Layout*/
.right-layout
{
    float:left;
    background-color: whitesmoke;
    width: 50%;
    height: 45.1rem;
}

/*Info Layout*/
.right-layout .info
{
    float: left;
    //background-color: aliceblue;
    width: 100%;
    height: 30rem;
    //margin-left: 30%;
    //margin-top: 5%;
}
/*End of Info Layout*/

/*Info Name*/
.right-layout .info .info-name
{
    //background-color: aquamarine;
    height: 7rem;
    margin-top: 2rem;
}

.right-layout .info .info-name h3
{
    text-align: center;
    font-family: 'Bradley Hand ITC';
    color: black;
    font-size: 40px;
}

.right-layout .info .info-name h4
{
    margin-left: 29%;
    width: 42%;
    margin-top: 1.2rem;
    border-bottom: 1px solid black;
}

.right-layout .info .info-details 
{
    float: left;
    text-align:center;
    color: white;
    font-family: 'Bradley Hand ITC';
    font-size: 18px;
    height: 10rem;
    width: 100%;
    //background-color: yellow;
}

/*Display Menu Items*/
.right-layout .info .info-details .card
{
    float: left;
    width: 25%;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.right-layout .info .info-details .card .card-img-top
{
    width: 11.8rem;
    height: 10rem;
}
/*End of Display Menu Items*/

/*End of Right Layout*/